<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Google Sheet uploads and Unity network reachability checks. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Required by AndroidHaptics. Toasts do not require a permission. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false">
        <activity android:name="com.unity3d.player.UnityPlayerActivity"
                  android:exported="true"
                  android:theme="@style/UnityThemeSelector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
